{% extends 'base.html.twig' %}


{% block title %}Page de contact{% endblock %}
{% block body %}
    {% include "menu.html.twig" %}
    <div class="home">
        <h1>Contactez-nous </h1>
        {% if succes is defined %} {{ succes }} {% endif %}
        <div class="contact">   
            {{ form(formulaire) }}
        </div>
    </div>
{% endblock %}