{% extends 'base.html.twig' %}


{% block title %}Accueil{% endblock %}
{% block body %}
    {% include "menu.html.twig" %}
        <h1>Bienvenue amoureux du bois et du dessin  </h1>
        {% if succes is defined  %}
        <p>{{succes}}</p>
        {% endif %}
{% endblock %}
