<footer>
    <div>
        <p>
            <label> Coté bois  </label>
            <a href="https://www.instagram.com/alexandre.cnc/" target="_blank"><img src="{{asset('icones/instagram.png')}}"/></a>
        </p>
        <p>
            &copy Le petit pousseur de bois 2023 - {{ "now"|date("Y") }}
        </p>
        <p>
            <label> Coté dessin  </label>
            <a href="https://www.instagram.com/marina_graphisme/" target="_blank"><img src="{{asset('icones/instagram.png')}}"/></a>
        </p> 
        <p>
            <a href="{{ path('cgv') }}">Mentions légales</a>
        </p>
    </div>
</footer>