{% extends 'base.html.twig' %}

{% block title %}Ajout Catégorie{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}
    <div class="home">
    <h1>Ajouter une catégorie  </h1>

    {{ form(formulaire) }}
    </div>

    <script type="text/javascript">
var reply_click = function()
{
    confirm("Pas de regret :D ?");
}
document.getElementById('categorie_envoyer').onclick = reply_click;
</script>
{% endblock %}

