{% extends 'base.html.twig' %}

{% block title %}Ajout Article{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}
    <div class="home">
        <h1>Ajouter un article  </h1>

        {{ form(formulaire) }}

    </div>
{% endblock %}