{% extends 'base.html.twig' %}


{% block title %}Création{% endblock %}
{% block body %}
    {% include "menu.html.twig" %}
    <div class="home">
        <h1> Voici nos création </h1>

        <div>
            {{ articles}}
        </div>

    </div>
{% endblock %}
